/*
This is a good layout for a mobile-first CSS template.
Following this flow will minimize the number of styles you need to write and will ensure you are thinking, designing and developing mobile-first.
Most of your styles get written like standard CSS, but for your mobile presentation. Generally speaking, a good mobile presention will stretch out nicely for larger screens.

Sometimes, when we stretch out to larger screens, we need to make minor tweaks for the larger devices -- you can make these tweaks in the tablet media query, or if the issue exists on desktop only, the desktop media query.
You will find this is far easier than the opposite task of using CSS to cram your desktop experience into a mobile device.
*/

/* THIS LINE LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Start your base/mobile styles here */

* {
  box-sizing: border-box;
}

html, body {
  /* Sets default font-size to 16px, ensuring 1em = 16px; */
  font-size: 22px;
}

body {
  padding-top: 40px;
  padding-bottom: 75px;
  font-family: 'Abel', sans-serif;
}

h1 {
  font-size: 3em;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

h4 {
  font: #87ceeb;
}

.container {
  max-width: 980px;
  /* So that it will be responsive */
  margin: 0 auto;
  /* centers content on the page */
  padding: 5px;
}

.container img {
  display: block;
  width: 100%;
}

.filter {
  /* float: left; */
}

.item {
  width: 50%;
  /* half the width of my container */
  padding: 5px;
  float: left;
  /* what makes them sit next to each other */
  min-height: 185px;
  text-align: center;
  display: none;
}

.item.active {
  display: block;
}

.item img {
  /* It's any image that is inside anything that's the class ITEM */
  display: block;
  /* Makes images responsive, by making it go to the ends of the pages */
  width: 100%;
}

select {
  display: block;
  width: 100%;
}

/* Tablet/Desktop overrides */

@media(min-width: 681px) {
  /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
  .item {
    width: 33%;
    /* Update page to have three items sitting next to each other instead of two */
    min-height: 310px;
  }
  select {
    width: 33%;
  }
}

@media(min-width: 729px) {
  /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
}